<html>
<head>
	<meta charset="utf-8"/>
	<title>Easy Food</title>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="static/css/style.css"/>

</head>
<body>

	<header>
		<div id="logo">
			<img src="static/images/logo_no_text.png" />
		</div>
		<div class="title">
			<h1>African Tradition | </h1><h3>&nbsp; Cocina</h3>
		</div>
		<div class="close">
			<img src="" />
		</div>
	</header>

	<section class="cocina" id="main">

		<!-- COCINA -->

		<div class="title-bar">
			<span class="tuno"># Orden</span>
			<span class="tdos">Chef</span>
			<span class="ttres">Platillo</span>
			<span class="tcuatro">Observaciones</span>
			<span class="tcinco">Cantidad</span>
		</div>

		<article class="item waiting">
			<span class="tuno">1</span>
			<span class="tdos">Dude 1</span>
			<span class="ttres">Hamburguesa con queso</span>
			<span class="tcuatro">Sin mayonesa</span>
			<span class="tcinco">1</span>
		</article>

		<article class="item to-do">
			<span class="tuno">2</span>
			<span class="tdos">Dude Dude Due 2</span>
			<span class="ttres">Hamburguesa sencilla</span>
			<span class="tcuatro">-</span>
			<span class="tcinco">1</span>
		</article>

		<!-- /COCINA -->

	</section>


</body>
</html>