doctype 5
html
	head
		meta(charset="utf-8")
		title Easy Food

		link(href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500' rel='stylesheet',type='text/css')
		link(rel="stylesheet",href="static/css/style.css")

	body
		header
			div(id="logo")
				img(src="static/images/logo_no_text.png")
			div(class="title")
				h1 African Tradition \|
				h3 &nbsp; Cocina</h3
