doctype 5
html
  head
    title = title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://localhost:8000/socket.io/socket.io.js')
  body
    block content

  script
    var socket = io.connect('http://localhost:8000')

    socket.on('mensaje',function(e){
        alert(e.m)
    })
