doctype 5
html
  head
    title = title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://192.168.43.2:8000/socket.io/socket.io.js')
  body
    block content

  script
    var socket = io.connect('http://192.168.43.2:8000')

    socket.on('qlic',function(e){
      document.write(e.data.c)
    })