*{margin:0;padding: 0;}


body,html{
	background: #CCC url(../images/background.png) repeat;
	color: #ede7e5;
	font-family: Roboto,Helvetica,Arial;
}

header{
	background: #bf3c0e;
	display: block;
	font-size: 1.3em;
	font-weight: 400;
	height: 74px;
}

header .close{
	background: #a6340d url(../images/close.png) center center no-repeat;
	cursor: pointer;
	float: right;
	height: 100%;
	top: 0;
	width: 74px;
}


header .close:hover{
	opacity: 0.8;
}

#main,header{
	min-width: 1010px;
}

#logo{
	height: 100%;
	margin-left: 5%;
	max-width: 74px;
}

#logo img{
	display: block;
	max-height: 100%;
}

#logo,.title{
	display: inline-block;
	vertical-align: bottom;
}

header .title h1, header .title h3{
	display: inline-block;
}

/**
 * COCINA
**/

.cocina{
	display: block;
	width: 100%;
}

.cocina .title-bar{
	background: #3a2811;
	display: block;
	margin-top: 5%;
	padding: 1em 0;
	width: 100%;
}


.cocina .item{
	background: #73b722;
	cursor: pointer;
	display: block;
	padding: 0.5em 0;
	width: 100%;
}

.cocina .item:hover{
	opacity: 0.5;
}

.cocina .item span,.cocina .title-bar span{
	display: inline-block;
}
.tuno,.tcinco{
	text-align: center;
	width: 8%;
}

.tdos{
	width: 20%;
}

.ttres,.tcuatro{
	width: 30%;
}

.cocina .item.waiting{
	color:#333333;
	background: rgba(223,212,28,0.7);
}

.cocina .item.to-do{
	color: inherit;
	background: rgba(207,30,34,0.7);
}

/**
 * RECEPCION
**/



.recepcion{
	display: block;
	width: 80%;
	padding: 0 5%;
	margin:5% auto;
}

.recepcion .mesa{
	cursor: pointer;
	box-shadow: inset 0.5px 0.5px 50px #bf3c0e;
	background: #e5673a;
	display: inline-block;
	vertical-align: middle;
	height: 180px;
	width: 180px;
	margin: 0 0.5em 0.5em 0;
	font-size: 4em;
	text-align: center;
	color: #FFF;
}

.recepcion .mesa[data-status='busy']{
	background: #e6e6e6;
	color: #000;
	box-shadow: inset 0.5px 0.5px 50px #c7c7c7;
}

.recepcion .mesa span{
	line-height: 2.5em;
	display: inline-block;
	vertical-align: middle;
}

.recepcion .mesa:hover{
	opacity: 0.8;
}


.caja{
	color: #000;
	width: 80%;
	display: block;
	margin:5% auto;
}

.caja #ordenes-box{
	display: block;
	width: 60%;
	margin: 0 auto;
}

#orden-info{
	display: block;
	margin: 1% auto;
	width:60%;
}

#orden-info #platillos{
	background: rgba(191,60,14,0.5);
}

#orden-info #platillos #titulos{
	border-bottom: 2px solid rgb(191,60,14);
}

#orden-info #total{
	background: #a92e31;
}

#orden-info #platillos span{
	padding: 0.5em 0;
}

#orden-info #platillos .nombre{
	display: inline-block;
	margin-left: 1%;
	width: 70%;
}

#orden-info #platillos .precio{
	display: inline-block;
	text-align: center;
	float: right;
	width: 26%;
}

#orden-info #total .nombre{
	display: inline-block;
	padding: 0.5em 0;
	color: #FFF;
	text-align: left;
	margin-left: 4em;
}
#orden-info #total .precio{
	float: right;
	padding: 0.5em 0;
	color: #FFF;
	text-align: right;
	margin-right: 4em;
}

::selection{
	background: #a6340d;
	color: #FFF;
}

#error-fs{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(56,56,56,0.7);
	text-align: center;
	top:0;
	left: 0;
	z-index: 9999;
}

#error-fs p:first-child{
	display: block;
	margin-top: 5%;
}